<header class="bg-white shadow-md">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
        <!-- Logo -->
        <h1 class="text-gray-900 text-2xl font-bold tracking-wide cursor-pointer" routerLink="/home">
            Market Manager
        </h1>

        <!-- Navigation -->
        <nav>
            <ul class="flex space-x-6">
                <li>
                    <a class="text-gray-900 text-lg font-medium transition duration-300 hover:text-blue-600 hover:underline"
                       routerLink="/client">
                        Clients
                    </a>
                </li>
                <li>
                    <a class="text-gray-900 text-lg font-medium transition duration-300 hover:text-blue-600 hover:underline"
                       routerLink="/product">
                        Produits
                    </a>
                </li>
                <li>
                    <a class="text-gray-900 text-lg font-medium transition duration-300 hover:text-blue-600 hover:underline"
                       routerLink="/order">
                        Commandes
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
