<div id="home-client" class="p-6">
    <!-- Header avec le bouton -->
    <div id="home-header" class="mb-6">
        <button (click)="openModal()" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition modern-button">
            Créer un produit
        </button>
    </div>

    <!-- Liste des clients -->
    <app-list-product></app-list-product>
</div>

<app-product-form-modal
    [isOpen]="isModalCreateOpen"
    (close)="closeModal()"
    (submitProduct)="submitProduct($event)">
</app-product-form-modal>
