<div class="max-w-3xl w-full mx-auto mt-10 p-6 bg-white shadow-lg rounded-2xl border border-gray-200">

    <!-- Bouton Retour -->
    <div class="mb-4">
        <button routerLink="/client"
                class="flex items-center space-x-2 px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-blue-600 hover:text-white transition shadow">
            <span class="text-lg">←</span>
            <span class="font-medium">Retour</span>
        </button>
    </div>

    <!-- Profil du Client -->
    <div class="flex items-center space-x-4">
        <!-- Avatar -->
        <div class="w-20 h-20 bg-gray-300 rounded-full flex items-center justify-center text-2xl font-bold text-gray-600">
            {{ client?.firstName?.charAt(0) }}{{ client?.lastName?.charAt(0) }}
        </div>

        <!-- Infos -->
        <div>
            <h2 class="text-2xl font-semibold text-gray-800">
                {{ client?.firstName }} {{ client?.lastName }}
            </h2>
            <p class="text-gray-500 text-sm">Date de naissance : {{ client?.dateOfBirth | date:'EEEE, d MMMM, y' }}</p>
        </div>
    </div>

    <h3 class="text-lg font-semibold text-gray-700 mb-3">Adresses</h3>
    <ul class="bg-gray-100 p-4 rounded-lg">
        <li *ngFor="let address of client?.addresses" class="py-2 border-b">
            {{ address.street }}, {{ address.zipCode }} {{ address.city }}, {{ address.country }}
        </li>
    </ul>


    <!-- Boutons Actions -->
    <div class="mt-6 flex space-x-4">
        <button class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition" (click)="openModal()">Modifier</button>
        <button class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition" (click)="openConfirmModal()">Supprimer</button>
    </div>
</div>

<!-- MODAL MODIFICATION -->
<app-client-form-modal
    [isOpen]="isModalOpen"
    [clientData]="client"
    (close)="closeModal()"
    (submitClient)="updateClient($event)">
</app-client-form-modal>

<!-- MODAL CONFIRMATION -->
<app-confirm-modal
    [isOpen]="isModalConfirmOpen"
    message="Voulez-vous vraiment supprimer ce client ?"
    (confirm)="deleteClient()"
    (cancel)="closeConfirmModal()">
</app-confirm-modal>
